*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to left top,
    #93beff,
    #9dc4ff,
    #a7caff,
    #b0cfff,
    #bad5ff,
    #b7d3ff,
    #b4d1fe,
    #b1cffe,
    #a0c4fd,
    #90bafc,
    #7eaffa,
    #6ca5f9
  );
}

body {
  background-color: unset !important;
  padding-inline: 1rem;
}

::placeholder {
  color: #0d6dfd !important;
}

input[type="text"] {
  color: #0d6dfd !important;
  background-color: rgba(255, 255, 255, 0.4) !important;
  border: none;
  font-weight: 600;
}

#nav-bar > div {
  /* border-bottom: 1px solid white; */
  background-color: rgba(255, 255, 255, 0.3) !important;
  border-radius: 10px;
}

#hero-weather {
  width: 100%;
}
/* DINAMIC ELEMENT  */

#weather-card {
  display: flex;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  gap: 1rem;
  justify-content: space-evenly;
  cursor: pointer;
}

#weather-card:hover {
  transform: scale(1.01);
  transition: 0.2s;
}

#weather-card > div {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid rgba(255, 255, 255, 1); */
  color: #0d6dfd;
  border-radius: 10px;
}
#weather-card div svg {
  font-size: 8rem;
}

#footer {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: unset;
}
#footer > div {
  padding-block: 1rem;
}
#footer div span {
  padding: unset;
  color: #0d6dfd !important;
  font-weight: 600;
}
